nav {
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
    background: var(--bg);
    border-bottom: 1px solid var(--border);
    position: sticky;
    top: 0;
    z-index: 10;
    font-weight: 500;

    #links {
        display: flex;
        gap: 1.5rem;
    }

    .divider {
        height: 100%;
        border: 1px solid var(--accent);
        margin-top: 0px;
    }

    #theme-picker {
        display: flex;
        gap: 1.5rem;
    }
}